@model User
 <div id="topbar">
        <nav class="navbar">
            <ul>
                <li class="listed"><a asp-action="Dashboard" asp-controller="Home"><h4>Home</h4></a></li>
            </ul>
        </nav>
</div>
    <div class="wrapper">
        <form asp-action="Login" asp-controller="Account">
            <div class="form-group">
                <span asp-validation-for="UserName"></span>
                <label>Username</label>
                <input class="form-control" asp-for="UserName">
            </div>
            <div class="form-group">
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
                <input class="form-control"asp-for="Password">
            </div>
            <div class="form-group">
                <input  class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>
    <br>
    <a asp-action="RegisterAccount" asp-controller="Account">Register</a>
    </div>
