@model User
<div id="topbar">
        <nav class="navbar">
            <ul>
                <li class="listed"><a asp-action="Dashboard" asp-controller="Home"><h4>Home</h4></a></li>
            </ul>
        </nav>
</div>
<div class="wrapper">
    <form asp-action="ProcessRegister" asp-controller="Account" method="POST">
        <div class="form-group">
            <span asp-validation-for="UserName"></span>
            <label>Username</label>
            <input class="form-control" asp-for="UserName">
        </div>
        <div class="form-group">
            <span asp-validation-for="Email"></span>
            <label>Email</label>
            <input class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password">
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
</div>
