@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@model List<Product>
<partial name="menupartial"></partial>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var k in Model)
            {
                <tr>
                    <td>@k.Title</td>
                    <td>@k.Price</td>
                    <td>@k.Quantity</td>
                    <td>@(@k.Price*@k.Quantity)</td>
                </tr>

            }
        }
    </tbody>
</table>

