@model User
<partial id="menu" name="menupartial"></partial>
<h5>Add a new customer</h5>
<form asp-action="AddCustomer">
    <div class="form-group">
        <span asp-validation-for="Name"></span>
        <label>Customer Name</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>   
</form>
<form asp-action="Customers">
    <div class="form-group">
         <input asp-for="Name" class="form-control" placeholder="search name.....">
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Created At</td>
            <td>Actions</td>
        </tr>
        @{
            foreach(var x in ViewBag.customers)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.CreatedAt</td>
                    <td><a asp-action="Remove" asp-route-CustomerId="@x.CustomerId">Delete</a></td>
                </tr>
            }
        }
    </thead>
</table>