@model Product
<div class="container">
    <div id="topbar">
        <form asp-action="Dashboard" class="searchgroup">
            <input id="search" asp-for="Title" type="text" placeholder="Search...">
        </form>
        <nav class="navbar">
            <ul>
                <li class="listed"><a asp-action="Dashboard"><h4>Home</h4></a></li>
                <li class="listed"><a asp-action="RegisterAccount" asp-controller="Account"><h4>Register</h4></a></li>
                <li class="listed"><a asp-action="Login" asp-controller="Account"><h4>Login</h4></a></li>
            </ul>
        </nav>
    </div>
    
    <div class="sidebar">
        <h3># Categories</h3>
        @{
            foreach(var category in ViewBag.categories)
            {
                <h4><a asp-action="Filter" asp-route-filtertitle="@category.Title">@category.Title</a></h4>
            }
        }
    </div>
    <div class="content">
        @{
            foreach(var x in ViewBag.products)
            {
                <div class="products">
                    <div class="component">
                        <a asp-action="ViewProduct" asp-route-productid="@x.ProductId"><img src="~/uploads/@x.Image"></a>
                            <h5 class="price">$@x.Price</h5>
                    </div>
                    <h6 id="label">@x.Title</h6>
                </div>}}
    </div>
    <div class=footer>
            <p class="trademark">Silvester Jumba &#169; All Rights Reserved</p>
    </div>

</div>

