<nav>
    <ul>
        <li class="listed"><a asp-action="Dashboard">Dashboard</a></li>
        <li class="listed"><a asp-action="Products">Products</a></li>
        <li class="listed"><a asp-action="Orders">Orders</a></li>
        <li class="listed"><a asp-action="Customers">Customers</a></li>
        <li class="listed"><a asp-action="Settings">Settings</a></li>
    </ul>
</nav>
