<nav>
    <ul class="nav nav-tabs" class="navbar navbar-expand-sm bg-light justify-content-center">
        <li class="nav-item"><a class="nav-link active" asp-action="Dashboard">Dashboard</a></li>
        <li class="nav-item"><a asp-action="Roles" asp-controller="Adminstration">Create Roles</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Products">Products</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Orders">Orders</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Customers">Customers</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Settings">Settings</a></li>
    </ul>
</nav>
