@model Product
<div class="container">
    <nav class="navbar">
        <ul>
            <li class="listed"><a asp-action="Dashboard"><h4>Home</h4></a></li>
            <li class="listed"><a asp-action="RegisterAccount" asp-controller="Account"><h4>Register</h4></a></li>
            <li class="listed"><a asp-action="Login" asp-controller="Account"><h4>Login</h4></a></li>
        </ul>
    </nav>
    <div class="products">
        @{
            foreach(var x in ViewBag.products)
            {
                <div class="image">
                    <img src="~/uploads/@x.Image">
                    <h6>@x.Title</h6>
                    <h6>(@x.InitialQuantity left)</h6>
                    <h6>Price: $@x.Price</h6>
                </div>
                <form asp-action="AddToCart" method="post" asp-controller="ShoppingCart"> 
                    <div>
                    <select asp-for="Quantity">
                        @{for(var i=0; i<=@x.InitialQuantity; i++)
                            {
                                <option>@i</option>
                            }
                        }
                    </select>
                    </div>       
                <div class="hidden">
                    <input asp-for="ProductId" type="hidden" class="form-control" value=@x.ProductId>
                    <br>
                <input type=submit class="btn btn-primary" value="Buy">  
                </div>  
                </form>    
            }
        }
    </div>
</div>
