@model Product
<div class="container">
    <partial name="menupartial"></partial>
    <div class="products">
        @{
            foreach(var x in ViewBag.products)
            {
                <div class="image">
                    <img src="~/uploads/@x.Image">
                    <h6>@x.Title</h6>
                    <h6>(@x.InitialQuantity left)</h6>
                    <h6>Price: $@x.Price</h6>
                </div>
                <form asp-action="AddToCart" method="post" asp-controller="ShoppingCart"> 
                    <div>
                    <select asp-for="Quantity">
                        @{for(var i=0; i<=@x.InitialQuantity; i++)
                            {
                                <option>@i</option>
                            }
                        }
                    </select>
                    </div>       
                <div class="hidden">
                    <input asp-for="ProductId" type="hidden" class="form-control" value=@x.ProductId>
                    <br>
                <input type=submit class="btn btn-primary" value="Buy">  
                </div>  
                </form>    
            }
        }
    </div>
</div>
