
<div class="form-group" >
    <form asp-action="Search">
        <input  class="form-control" placeholder="search......" asp-action="Search">
        <input  type="submit" value="Filter">
    </form>
    
</div>