.listed {text-decoration: none;
    vertical-align: top;
    display: inline-block;
    color: rgb(255, 0, 212);
}
#search {display: inline-block; height: 30px; margin: 0px; border-radius: 10px; border: 0px; 
    padding: 10px; width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#topbar {padding: 10px 10px 0px 10px; width: 100%; height:60px; background-color: rgb(16, 5, 44); margin-bottom: 5px;}
.navbar{margin: 0px; padding: 0px; 
        text-align: center; height: 30px; float: right;}
.searchgroup{display: inline-block;}
ul {margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    padding: 0px;}
#menu {padding-right: 0px;
    padding-left: 0px;
    display: block;
    border: 0px;}
    
img{
    display: inline-block;
    width: 220px;
    height: 170px;
    vertical-align: top;
    margin-bottom: -25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.products{
    display: inline-block;
    width: 250px;
    height: 220px;
    vertical-align: top;
}
#elements{display: inline-block;
}
.image{display:inline-block; vertical-align: top; text-align: center; margin-bottom: -40px;}
.hidden{width:200px}
.container{width: 100%;
display: block;
position: relative;
margin-left: 0px;
padding: 0px;
height:1200px
}
.sidebar{display: inline-block;
width: 200px;
height: 1138px;
vertical-align:top;
padding: 20px;
border-right: 1px solid rgb(236, 227, 227);}
.content{display: inline-block; height: 1138px; width: 80%; 
        margin:10px 15px; vertical-align: top; padding: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(133, 106, 34);}
.price{background-color: grey; width: 170px; text-align: center; 
        border-bottom: none; z-index: 1; position: relative;
        border-top-right-radius: 7px;}
#label{text-align: center; width: 170px; display: block;}
.productbar{display: inline-block; width: 250px; height: 250px; vertical-align: top}
.productdescription{display: inline-block; width: 250px; height: 250px;}
.productdescription p{display: inline-block}
.productdescription form{display: inline-block; vertical-align: top}
.productssilimar{display: block; height: 300px; width: 1000px;}
.title{display: inline-block; vertical-align: top}
.component{display: inline-block; vertical-align: top; margin-left: 10px}
.footer{width:100%; height: 300px; background-color: rgb(61, 54, 42); display: flex; flex-direction: row; flex-flow: column-reverse;}
.trademark{color: white; display: flex; align-content: center; margin: 10px;}
.tablewrapper{display: block; margin-left: auto; margin-right: auto;}
.wrapper{width:600px; height: 600px; margin-left: auto; margin-right: auto; padding: 50px; background-color: rgb(151, 152, 156);}